<h1>Welcome Users</h1>
<p>Lets Play the Trivia Game</p>
<% @posts.each do |post| %>
  <div class="well">
    <h3>Q. <%= post.question %></h3>
    <span class="label label-pill label-success">Points : <%= post.points %></span>
    <br>
    <br>

    <%= link_to "Play", post_path(post), :class => 'btn btn-primary' %>
  </div>
<% end %>